body{
    font-family:'Roboto', sans-serif;
    background-image: linear-gradient(to right, #eb6637, #ef7d38,#f09839);
    width: 60%;
    margin: auto;
}

content{
    float: right;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    height: 400px;
}

.text-arrow{
    margin-top: 60px;
    margin-right: 10px;
    width: 38%;
    display: inline-block;
    color:white;
}
/* .text-arrow>(i, h1, p, .about){
    margin-bottom: 40px;
} */
.about{
    margin-top:40px;
}
.about a{
    padding: 10px 20px;
    color:#4d4d4d;
    background: white;
    border-radius:20px;
    text-decoration:none;
}

.register{
    width: 60%;
    height: 100%;
    float: right;
}
.curve{
    width: 15%;
    height: 100%;
    border-radius: 100% 0% 0% 100%;
    display: inline-block;
    background: #f8f8f8;

}
/* .register::before{
    content:"";
    background: black;
    width:100px;
    height:100px;
    border-radius:50%;
    position:absolute;
    top:0;
} */

.form1{
    width: 85%;
    height: 100%;
    float: right;
    background: #f8f8f8;
}
h2{
    color: #4f4f4f;
    margin: 30px 0px 30px 0px;
}


.form1 input:not(:last-child){
    width: 85%;
    float: left;
    height: 25px;
    margin-bottom: 10px;
    padding: 5px 15px;
    border:1px solid gray;
    border-radius: 5px;
}
.form1 input:last-child{
    padding: 10px 20px;
    float: right;
    font-size: 15px;
    border: 2px solid;
    border-radius: 20px;
    background: #f09839;
    color: white;
    margin: 3% 7% 0 0;
}
.material-icons{
    font-size:80px !important;
    transform: rotate(180deg)scale(1.5,1);
    font-size: 80px;
}

@media screen and (max-width:900px){
    .text-arrow, .register{
        width:100%;
        margin-bottom:20px;
    }
}